@-webkit-keyframes tilt-astronaut
{
    0% {transform: translateY(0) translateX(0) rotate(0)}
    25% {transform: translateY(-0.3rem) translateX(-0.3rem) rotate(7deg)}
    50% {transform: translateY(-0.6rem) translateX(-0.8rem) rotate(-2deg)}
    75% {transform: translateY(-0.2rem) translateX(-0.6rem) rotate(-9deg)}
    100% {transform: translateY(0) translateX(0) rotate(0)}
}
@keyframes tilt-astronaut
{
    0% {transform: translateY(0) translateX(0) rotate(0)}
    25% {transform: translateY(-0.3rem) translateX(-0.3rem) rotate(7deg)}
    50% {transform: translateY(-0.6rem) translateX(-0.8rem) rotate(-2deg)}
    75% {transform: translateY(-0.2rem) translateX(-0.6rem) rotate(-9deg)}
    100% {transform: translateY(0) translateX(0) rotate(0)}
}

@-webkit-keyframes niceOpenImg
{
    0% {opacity: 0}
    100% {opacity: 1}
}
@keyframes niceOpenImg
{
    0% {opacity: 0}
    30% {opacity: 1}
    100% {opacity: 1}
}

@-webkit-keyframes shine
{
    0% {
		background-position: 50% 0%;
	}
	100% {
		background-position: 0% 100%;
	}
}
@keyframes shine
{
    0% {
		background-position: right bottom;
	}
	100% {
		background-position: left bottom;
	}
}

@-webkit-keyframes shineBarHTML
{
    0% {width: 0}
    100% {width: 70%}
}
@keyframes shineBarHTML
{
    0% {width: 0}
    100% {width: 70%}
}

@-webkit-keyframes shineBarHTMLMobile
{
    0% {height: 0}
    100% {height: 70%}
}
@keyframes shineBarHTMLMobile
{
    0% {height: 0}
    100% {height: 70%}
}




@-webkit-keyframes shineBarCSS
{
    0% {width: 0}
    100% {width: 60%}
}
@keyframes shineBarCSS
{
    0% {width: 0}
    100% {width: 60%}
}

@-webkit-keyframes shineBarCSSMobile
{
    0% {height: 0}
    100% {height: 60%}
}
@keyframes shineBarCSSMobile
{
    0% {height: 0}
    100% {height: 60%}
}



@-webkit-keyframes shineBarJS
{
    0% {width: 0}
    100% {width: 40%}
}
@keyframes shineBarJS
{
    0% {width: 0}
    100% {width: 40%}
}

@-webkit-keyframes shineBarJSMobile
{
    0% {height: 0}
    100% {height: 40%}
}
@keyframes shineBarJSMobile
{
    0% {height: 0}
    100% {height: 40%}
}




@keyframes showNumber
{
    0% {opacity: 0}
    30% {opacity: 1}
    100% {opacity: 1}
}