:root {
    font-size: 15px;
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: map-get($color, bg);
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    cursor: default;

    h1 {
        font-size: map-get($font-size, extra-big);
        color: map-get($color, primary);
        letter-spacing: map-get($letter-spacing, a)
    }

    h2 {
        font-size: map-get($font-size, medium);
        color: map-get($color, primary);
        letter-spacing:  map-get($letter-spacing, c)
    }

    h3 {
        font-size: map-get($font-size, medium);
        color: map-get($color, accent);
        letter-spacing:  map-get($letter-spacing, b)
    }

    h4 {
        font-size: map-get($font-size, small);
        color: map-get($color, secondary);
        letter-spacing:  map-get($letter-spacing, b)
    }

    p {
        font-size: map-get($font-size, extra-small);
        color: map-get($color, secondary);
        line-height: 2.5;
        letter-spacing: map-get($letter-spacing, c)
    }

    .arrow-box {
        height: 65px;
        width: 65px;
        position: fixed;
        right: 15px;
        top: 535px;
        display: none;
        z-index: 2;
        border: solid 10px map-get($color, shadow);
        border-radius: 10px;
        background-color: map-get($color, shadow);
        opacity: 0.3;
        transition: 0.6s ease-out;
    }

    .arrow-box:hover {
        cursor: pointer;
        opacity: 0.8;
    }

    button {
        @include buttons;

        &:focus {
            outline: none;
            border: none;
        }

        &:hover {
            @include buttons-hover;
            cursor: pointer;
        }
    }

    a:hover {
        cursor: pointer;
        color: map-get($color, secondary);
    }

    input:focus {
        outline: none;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(211, 211, 211); 
}

::-webkit-scrollbar-thumb {
    background: rgb(107, 107, 107); 
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(71, 71, 71); 
}
