@media screen and (min-width: 425px) and (max-width: 768px) {
    :root
    {
        font-size: 8px;
    }

    body
    {
        .burger-icon
        {
            display: block;
        }

        //nav-header-contact-part
        .nav-contact-box
        {
            height: 100vh;

            .nav-box-closed
            {
                 
                height: 100%;
                width: 100%;
                position: fixed;
                display: flex;
                flex-direction: column;
                align-self: center;
                justify-self: center;
                background-color: map-get($color, accent);
                z-index: 1;
                opacity: 0;
                transform: translateX(100%);
                transition: opacity 0.5s, transform 0.8s;
            }
 
            .nav-box-open
            {
                opacity: 1;
                transform: translateX(0%);
 
                .close-burger
                {
                    position: fixed;
                    top: 1rem;
                    right: 2.5rem;
                    display: block;
                    font-size: map-get($font-size, big-for-menu);
                    color: map-get($color, primary);
                }

                a
                {
                    color: map-get($color, primary);
                    font-size: map-get($font-size, big-for-menu);
                    letter-spacing: map-get($letter-spacing, wide);
                    position: relative;
                }

                a::after
                {
                    content: '';
                    height: 0.1rem;
                    width: 160vw;
                    position: absolute;
                    bottom: 0;
                    left: -1rem;
                    background-color: map-get($color, primary);
                }

                a:hover, a:focus
                {
                    color: map-get($color, bright-orange);

                }

                a:hover:after
                {
                    background-color: map-get($color, bright-orange);
                }
            }

            .header-image
            {
                background-size: cover;

                height: 50vh;
                background-position: center;
                // background-repeat: no-repeat;
                background-size: cover;

                .header-icons-box
                {
                    justify-content: space-between;
                    margin: 1rem auto;

                    a img
                    {
                        width: 2.5rem;
                        margin: auto 1.5rem;
                    }

                    .youtube img
                    {
                        width: 3.5rem;
                        margin-top: 0.5rem;
                    }

                    .twitch img
                    {
                        margin-right: 0;
                    }
                }
            }

            .contact-me-box
            {
                height: 50vh;
                justify-content: space-around;

                .contact-me-buttons
                {
                    width: 90%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-around;

                    button
                    {
                        height: 9rem;
                        width: 40%;
                    }
                }
            }
        }

        //about-me-and-skills-part
        .about-me-and-skills-box
        {
            .about-me-box
            {
                height: 50vmin;
                width: 85%;

                .about-me-inner-box
                {
                    height: 35vmin;
                    
                    .my-data-box
                    {
                        white-space: normal;

                        p
                        {
                            letter-spacing: map-get($letter-spacing, narrow);
                            line-height: 1.5;
                        }
        
                        strong
                        {
                            font-size: map-get($font-size, big);
                        }
                    }

                    .description-box
                    {
                        width: 50%;
                    }
                }
            }

            .skills-box
            {
                height : 50vmin;
                width: 85%;
                top: 0;

                .skills-inner-box
                {
                    height: 35vmin;

                    .css-sass
                    {
                        &::before, &::after
                        {
                            display: none;
                        }
                    }
                }
            }
        }

        //portfolio-part
        // .portfolio-box
        // {
        //     height: 200vh;
        //     justify-content: center;

        //     .portfolio-gallery
        //     {
        //         height: 190vh;
        //         align-items: center;
        //         justify-content: center;

        //         .row
        //         {
        //             height: 190vh;
        //             width: 50%;
        //             flex-direction: column;
        //             align-items: center;
        //             background-color: map-get($color, bg);
        //         }
        //     }
        // }

        //contact-me-part
        .contact-copyrights-box
        {
            // .copyrights
            // {
            //     .contact-icons-box
            //     {
            //         a
            //         {
            //             margin: auto 3rem auto 0;
            //         }
                // }
            // }
        }
    }
}