@mixin buttons
{
    height: 4rem;
    width: 15rem;
    border: none;
    border-radius: 0.6rem;
    font-size: map-get($font-size, small);
    font-variant: all-small-caps;
    letter-spacing: 0.1rem;
    background-image: linear-gradient(to bottom right,map-get($color, dark-orange),map-get($color, light-orange));
    color: map-get($color, primary);
    transition: border 1s, color 1s linear;
};

@mixin buttons-hover
{
    background-image: linear-gradient(to bottom right,map-get($color, primary),map-get($color, primary));
    -moz-background-image: linear-gradient(to bottom right,map-get($color, primary),map-get($color, primary));
    -ms-background-image: linear-gradient(to bottom right,map-get($color, primary),map-get($color, primary));
    -webkit-background-image: linear-gradient(to bottom right,map-get($color, primary),map-get($color, primary));
    color: map-get($color, dark-orange);
    border: solid 0.1rem map-get($color, dark-orange);
    -moz-border: solid 0.1rem map-get($color, dark-orange);
    -ms-border: solid 0.1rem map-get($color, dark-orange);
    -webkit-border: solid 0.1rem map-get($color, dark-orange);
};

@mixin box-shadow
{
    background-color: map-get($color, primary);
    box-shadow: 0.6rem 0.6rem 0.6rem map-get($color, shadow);
}