$color: (
    "bg": rgb(251, 248, 252),
    "primary": rgb(255, 255, 255),
    "accent": rgb(68, 71, 100),
    "accent-mid-fade": rgba(68, 71, 100, 0.9),
    "accent-fade": rgb(241, 238, 245),
    "secondary": rgb(0, 0, 0),
    "secondary-fade": rgba(#000, 0.7),
    "light-grey": rgb(119, 119, 119),
    "dark-orange": rgb(197, 70, 20),
    "light-orange": rgb(218, 119, 80),
    "shadow":rgba(206, 202, 212, 0.425),
    "bright-orange": rgb(255, 187, 61)
);

$font-size: (
    "extra-big": 7rem,
    "big-for-media": 6rem,
    "big-for-menu": 4rem,
    "big-for-contact": 3rem,
    "big": 2.5rem,
    "medium": 2.2rem,
    "small": 2rem,
    "extra-small": 1.5rem,
    "small-for-footer": 1.2rem,
    "super-small": 0.8rem
);

$letter-spacing: (
    "wide": 0.6rem,
    "mid-wide": 0.3rem,
    "narrow": 0.1rem
)
