@media screen and (min-width: 600px) and (max-width: 768px) {
    :root
    {
        font-size: 8px;
    }

    body
    {
        .div-for-flag
        {
            top: 1rem;
            right: 2rem;
            
            .pl-flag, .uk-flag
            {
                width: 4rem;
            }
        }

        .burger-icon
        {
            display: block;
        }

        .arrow-box
        {
            bottom: 7rem;
        }

        //nav-header-contact-part
        .nav-contact-box
        {
            height: 100vh;

            .nav-box-closed
            {
                 
                height: 100%;
                width: 100%;
                position: fixed;
                display: flex;
                flex-direction: column;
                align-self: center;
                justify-self: center;
                background-color: map-get($color, accent);
                z-index: 1;
                -webkit-transform: translateX(100%);
                -ms-transform: translateX(100%);
                transform: translateX(100%);
                transition: transform 0.6s ease-out;
            }
 
            .nav-box-open
            {
                -webkit-transform: translateX(0%);
                -ms-transform: translateX(0%);
                transform: translateX(0%);
 
                .close-burger
                {
                    position: fixed;
                    top: 3rem;
                    right: 3rem;
                    display: block;

                    & img {
                    width: 2.5rem;
                    }

                    &:hover
                    {
                        cursor: pointer;
                    }
                }

                a
                {
                    color: map-get($color, primary);
                    font-size: map-get($font-size, big-for-menu);
                    letter-spacing: map-get($letter-spacing, wide);
                    position: relative;

                    &::before
                    {
                        content: '';
                        left: 0;
                        bottom: 0;
                        width: 0;
                        height: 0.1rem;
                        background-color: map-get($color, primary);
                        position: absolute;
                        transition: width 0.3s ease-in-out;
                    }
                }

                a:hover, a:focus
                {
                    color: map-get($color, bright-orange);

                }

                a:hover::before, a:focus::before
                {
                    background-color: map-get($color, bright-orange);
                    width: 120%;
                }
            }

            .header-image
            {
                background-size: cover;

                height: 50vh;
                background-position: center;
                // background-repeat: no-repeat;
                background-size: cover;

                .header-icons-box
                {
                    justify-content: space-between;
                    margin: 1rem auto;

                    a img
                    {
                        width: 2.5rem;
                        margin: auto 1.5rem;
                    }

                    .twitch img
                    {
                        margin-right: 0;
                    }
                }
            }

            .contact-me-box
            {
                height: 50vh;
                justify-content: space-around;

                .contact-me-buttons
                {
                    width: 90%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-evenly;

                    button
                    {
                        height: 9rem;
                        width: 40%;
                    }
                }
            }
        }

        //about-me-and-skills-part
        .about-me-and-skills-box
        {
            .about-me-box
            {
                height: 60vmin;
                width: 85%;

                .about-me-inner-box
                {
                    height: 45vmin;
                    left: 6rem;
                    // overflow: hidden;

                    .about-me-items
                    {
                        margin: auto 2rem;
                    }
                    
                    .my-data-box
                    {
                        white-space: normal;

                        p
                        {
                            letter-spacing: map-get($letter-spacing, narrow);
                            line-height: 1.5;
                        }
        
                        strong
                        {
                            font-size: map-get($font-size, big);
                        }
                    }

                    .description-box
                    {
                        p
                        {
                            padding: 2rem 0;
                        }
                    }

                }
            }

            .skills-box
            {
                height : 40vmin;
                width: 85%;
                top: 0;

                .skills-inner-box
                {
                    height: 25vmin;
                    right: 6rem;
                }
            }
        }

        //portfolio-part
        .portfolio-box
        {
            height: 155vh;

            .portfolio-gallery
            {
                height: 140vh;

                .first-box
                {
                    width: 70%;
                }

                .second-box
                {
                    width: 30%;
                }

                .third-box
                {
                    width: 45%;
                }

                .fourth-box
                {
                    width: 55%;
                }

                .fifth-box
                {
                    width: 50%;
                }

                .sixth-box
                {
                    width: 50%;
                }

                .boxes
                {
                    height: calc(140vh/3);

                    .photo-cover button
                    {
                        height: 7rem;
                        width: 70%;
                        align-self: center;
                        margin-left: 0;
                    }
                }
            }
        }

           //modal in portfolio
           .modal-bg
           {

               .modal-content
               {

                   .div-for-projects
                   {

                       .display-projects
                       {

                           .img-modal-bg
                           {

                               img
                               {
                                   max-width: 95%;
                                   max-height: 95%;
                               }

                               .exit-img-modal
                               {
                                   visibility: visible;
                                   -webkit-animation: showModalImg ease-out 1.2s forwards;
                                   animation: showModalImg ease-out 1.2s forwards;

                                   &:hover
                                   {
                                       cursor: pointer;
                                       -webkit-transform: scale(0.9);
                                       -ms-transform: scale(0.9);
                                       transform: scale(0.9);
                                   }
                               }
                           }
                       }
                   }
               }
           }

        //contact-me-part
        .contact-copyrights-box
        {

            .contact-box
            {

                &>h3
                {
                    margin-left: 13rem;
                }
            }

            .copyrights
            {

                p
                {
                    font-size: map-get($font-size, extra-small);
                }

                .contact-icons-box
                {
                    a img
                    {
                        margin-right: 4rem;
                    }
                }
            }
        }
    }
}