.about-me-and-skills-box
{
    height: 100vmin;
    width: 100%;
    display: flex;
    flex-direction: column;

    .about-me-box //zewnetrzny
    {
        height: 45vmin;
        width: 75%;
        position: relative;
        background-color: map-get($color, accent-fade);
        display: flex;
        align-items: center;
        justify-items: center;
        
        h3
        {
            position: absolute;
            top: 1rem;
            left: 10rem;
        }

        .about-me-inner-box //wewnetrzny
        {
            height: 30vmin;
            width: 150%; //???????????? longer div
            position: relative;
            left: 8rem;
            display: flex;
            align-items: center;
            justify-content: center;
            @include box-shadow;

            .about-me-items
            {
                margin: auto 3rem;
            }

            .profile-picture
            {
                height: 9rem;
                width: 9rem;
                object-fit: cover;
                border-radius: 5rem;
            }

            .my-data-box
            {
                padding: 0;
                white-space: nowrap;

                p
                {
                    letter-spacing: map-get($letter-spacing, narrow);
                    line-height: 1.8;
                }

                strong
                {
                    color: map-get($color, accent);
                    font-size: map-get($font-size, big);
                    font-weight: 900;
                    font-variant: all-small-caps;
                    letter-spacing:  map-get($letter-spacing, mid-wide);
                }
            }

            .description-box
            {
                width: 40%;
                height: 100%;
                overflow: auto;
                display: flex;
                align-items: center;

                p
                {
                    height: 98%;
                }
            }
        }
    }

    .skills-box //zewnetrzny
    {
        height : 45vmin;
        width: 75%;
        position: relative;
        top: 10vmin;
        display: flex;
        align-items: center;
        align-self: flex-end;
        background-color: map-get($color, accent-fade);
        
        h3
        {
            position: absolute;
            top: 1rem;
            left: 2rem;
        }

        .skills-inner-box //wewnetrzny
        {
            height: 30vmin;
            width: 150%; //????????????
            position: relative;
            right: 8rem;
            display: flex;
            // align-items: center;
            justify-content: space-around;
            @include box-shadow;

            .skills-items
            {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            i 
            {
                img
                {
                    width: 8rem;
                }

                .img-html
                {
                    animation: skills-moves 20s infinite;
                }

                .img-sass
                {
                    animation: skills-moves 20s 1.2s infinite;
                }

                .img-js
                {
                    animation: skills-moves 20s  2.4s infinite;
                }
            }

            p
            {
                text-align: center;
                font-size: map-get($font-size, small);
                font-weight: bold;
                color: map-get($color, accent)
            }
        }
    }
}