.contact-copyrights-box
{
    height: 100vmin;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .contact-box
    {
        height: 80%;
        width: 100%;
        background-color: map-get($color, accent-fade);
        display: flex;
        flex-direction: column;
        justify-content: center;

        &>h3
        {
            margin-bottom: 2rem;
            margin-left: 16rem;
        }

        .contact-form
        {
            height: 80%;
            width: 75%;
            align-self: center;
            @include box-shadow;
            display: flex;

            .form-info
            {
                height: 100%;
                width: 40%;
                position: relative;
                background-color: map-get($color, accent);
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items:flex-start;

                .text-p
                {
                    margin-left: 3rem;
                    width: 60%;
                    color: map-get($color, primary);
                    line-height: 2.4;
                }

                i img
                {
                    margin-left: 3rem;
                }

                &::after
                {
                    content: '';
                    position: absolute;
                    top: 4rem;
                    right: -1.9rem;   // triangle trick
                    width: 0; 
                    height: 0; 
                    border-top: 2rem solid transparent;
                    border-bottom: 2rem solid transparent;
                    border-left: 2rem solid map-get($color, accent);
                }
            }

            .form
            {
                height: 100%;
                width: 60%;
                padding: 4rem 6rem;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                h3
                {
                    margin-left: 2rem;
                    margin-bottom: 1rem;
                }

                input, form
                {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    @include buttons-hover;
                    height: 8%;
                    padding: 0.5rem 2rem;
                    border-radius: 0.6rem;
                    font-size: map-get($font-size, extra-small);
                    font-family: 'Poppins', sans-serif;
                }

                ::-webkit-input-placeholder
                {
                    color: map-get($color, light-orange);
                }

                form
                {
                    height: 40%;
                    padding-right: 0.2rem;

                    textarea
                    {
                        width: 100%;
                        height: 100%;
                        border: none;
                        resize: none;
                        background-color: rgba(255, 255, 255, 0);
                        color: map-get($color, dark-orange);
                        font-size: map-get($font-size, extra-small);
                        font-family: 'Poppins', sans-serif;
                    }
                }

                button
                {
                    align-self: flex-end;
                }
            }
        }
    }

    .copyrights
    {
        height: 20%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        opacity: 0.6;

        p
        {
            line-height: 2;
            font-size: map-get($font-size, small-for-footer);
        }

        .name-box
        {
            .name
            {
                font-weight: bold;
            }
        }

        .contact-icons-box
        {
            display: flex;

            a img
            {
                width: 2.2rem;
                margin-right: 2rem;
                transition: 0.5s;

                &:hover
                {
                    transform: translate(0, -0.6rem);
                }
            }

            .contact-twitch img
            {
                margin-right: 0;
            }
        }

        i img
        {
            width: 5rem;
            display: block;
            animation: tilt-astronaut 6s linear infinite;
        }
    }
}