.contact-copyrights-box
{
    height: 100vmin;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .contact-box
    {
        height: 80%;
        width: 100%;
        background-color: map-get($color, accent-fade);
        display: flex;
        flex-direction: column;
        justify-content: center;

        &>h3
        {
            margin-bottom: 2rem;
            margin-left: 19rem;
        }

        .contact-form
        {
            height: 80%;
            width: 75%;
            align-self: center;
            @include box-shadow;
            display: flex;

            .form-info
            {
                height: 100%;
                width: 40%;
                position: relative;
                background-color: map-get($color, accent);
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items:flex-start;

                .text-p
                {
                    margin-left: 3rem;
                    width: 60%;
                    color: map-get($color, primary);
                    line-height: 2.4;
                }

                i img
                {
                    margin-left: 3rem;
                }

                &::after
                {
                    content: '';
                    position: absolute;
                    top: 4rem;
                    right: -1.9rem;   // triangle trick
                    width: 0; 
                    height: 0; 
                    border-top: 2rem solid transparent;
                    border-bottom: 2rem solid transparent;
                    border-left: 2rem solid map-get($color, accent);
                }
            }

            .form
            {
                height: 100%;
                width: 60%;
                padding: 0 6rem 0 6rem;

                h3
                {
                    margin-left: 2rem;
                    margin-top: 4.5rem;
                    margin-bottom: 2rem;
                }

                form {
                    
                    height: 70%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;

                    input, textarea
                    {
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        @include buttons-hover;
                        color: map-get($color, accent);
                        height: 10%;
                        padding: 0.5rem 2rem;
                        border-radius: 0.6rem;
                        font-size: map-get($font-size, extra-small);
                        font-family: 'Poppins', sans-serif;
                    }

                    ::-webkit-input-placeholder
                    {
                        color: map-get($color, light-grey);
                    }

                    textarea
                    {
                        height: 45%;
                        resize: none;
                    }

                    button
                    {
                        align-self: flex-end;
                    }
                }
            }
        }
    }

    .copyrights
    {
        height: 20%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        opacity: 0.7;

        p
        {
            line-height: 1.8;
            font-size: map-get($font-size, extra-small);
        }

        .name-box
        {
            .name
            {
                font-weight: bold;
            }
        }

        .contact-icons-box
        {
            display: flex;

            a img
            {
                width: 2.2rem;
                margin-right: 2rem;
                transition: 0.5s;

                &:hover
                {
                    -webkit-transform: translate(0, -0.6rem);
                    -ms-transform: translate(0, -0.6rem);
                    transform: translate(0, -0.6rem);
                }
            }

            .contact-twitch img
            {
                margin-right: 0;
            }
        }

        i img
        {
            width: 5rem;
            display: block;
            -webkit-animation: tilt-astronaut 6s linear infinite;
            animation: tilt-astronaut 6s linear infinite;
        }
    }
}