.nav-contact-box
{
    height: 100vmin;
    display: flex;
    flex-direction: column;
    position: relative;

    .nav-box
    {
        height: 8vmin;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;

        .close-burger
        {
            display: none;
        }

        a
        {
            position: relative;
            margin: auto 5rem;
            color: map-get($color, accent);
            font-size: map-get($font-size, small);
            letter-spacing: map-get($letter-spacing, narrow);
            font-variant: all-small-caps;
            transition: color 0.4s linear;

            &::before
            {
                content: '';
                left: 0;
                bottom: 0;
                width: 0;
                height: 0.1rem;
                background-color: map-get($color, dark-orange);
                position: absolute;
                transition: width 0.4s ease-in-out;
            }
            
            &:hover::before
            {
                width: 80%;
            }

            &:hover
            {
                color: map-get($color, dark-orange);
            }
        }
    }

    .header-image
    {
        height: 75vmin;
        background-color: map-get($color, accent);
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url("../photos/background/main_picture.png");
        background-position: center;
        // background-repeat: no-repeat;
        background-size: contain;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        .header-image-effect
        {
            height: 100%;
            width: 100%;
            background-image: url("../photos/background/background-effect.jpeg");
            opacity: 15%;
            // mix-blend-mode: lighten;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .header-text-box
        {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h1
            {   // trick for gradient text!!
                background: linear-gradient(to top left, map-get($color, bright-orange), map-get($color, primary));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                margin: 2.5rem auto;
            }

            h2
            {
                width: 60%;
                text-align: center;
            }

            .header-icons-box
            {
                height: 4rem;
                width: 70%;
                position: relative;
                top: 0.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                
                a
                {
                    margin: auto 1rem;
                    transition: 0.5s;

                    &:hover
                    {
                        -webkit-transform: translate(0, -0.6rem);
                        -ms-transform: translate(0, -0.6rem);
                        transform: translate(0, -0.6rem);
                    }
                }
            }
        }
    }

    .contact-me-box
    {
        height: 17vmin;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        button
        {
            margin: 1.5rem 2rem;
        }
    }
}

.cv-bg
{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;

    .cv
    {
        max-height: 98%;
        max-width: 98%;
        -webkit-animation: niceOpenImg ease-in-out 0.8s;
        animation: niceOpenImg ease-in-out 0.8s;
    }

    .exit-img-modal
    {
        width: 2rem;
        height: 2rem;
        position: fixed;
        top: 1.5rem;
        right: 1.5rem;
        padding: 1rem;
        min-height: auto;
        -webkit-transform:  translateY(-9rem);
        -ms-transform:  translateY(-9rem);
        transform: translateY(-9rem);
        z-index: 5;
        background-color: white;
        box-sizing: content-box;
        border-radius: 3rem;
        visibility: hidden;
    }
}
