.portfolio-box
{
    height: 100vmin;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h3
    {
        margin: 2rem auto;
    }

    .portfolio-gallery
    {
        background-color: rgb(88, 88, 88);
        height: 85vmin;
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .row
        {
            height: 50%;
            width: 100%;
            display: flex;

            .boxes
            {
                height: 100%;
                position: relative;

                img
                {
                    height:100%;
                    width:100%;
                    object-fit: cover;
                }

                .photo-cover
                {
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    background-image: linear-gradient(map-get($color, secondary-fade),map-get($color, accent-mid-fade));
                    display: none;
                    flex-direction: column;
                    transition: 1.2s;
                    transform: translateY(100%);
                    display: flex;

                    h4, p
                    {
                        margin-left: 1.5rem;
                        color: map-get($color, primary)
                    }

                    h4
                    {
                        margin-top: 3rem;
                    }

                    p
                    {
                        margin-top: 2rem;
                        line-height: 1.4;
                    }

                    button
                    {
                        margin-top: 4rem;
                        margin-left: 1.5rem;
                    }
                }

                &:hover
                {

                    .photo-cover
                    {
                        transform:translateY(0);
                    }
                }
            }
        }

        .first-row
        {
            background-color: aqua;

            .first-box
            {
                width: 50%;
            }

           .second-box
           {
                width: 20%;
            }

           .third-box
           {
                width: 30%;
            }
        }

        .second-row
        {
            background-color: blueviolet;

            .fourth-box
            {
                width: 35%;
            }

            .fifth-box
            {
                width: 30%;
            }

            .sixth-box
            {
                width: 35%;
            }
        }
    }
}
