//basic settings
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import './helpers/variables';
@import './helpers/mixins';
@import './helpers/basics';

//site parts
@import './site_parts/nav-header-contact';
@import './site_parts/aboutme-skills';
@import './site_parts/portfolio';
@import './site_parts/contact-copyright';

//media
@import './helpers/media/media-mobile';
@import './helpers/media/media-tablet-small';
@import './helpers/media/media-tablet-big';

